appdirs==1.4.4
distlib==0.3.1
email-validator==1.1.1
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.5.0
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
glob2==0.7
gunicorn==19.9.0
imagesize==1.2.0
numpy==1.18.5
path==13.1.0
pipenv==2020.8.13
tables==3.6.1
urllib3==1.25.9
virtualenv==20.0.31
virtualenv-clone==0.5.4
Werkzeug==1.0.1
WTForms==2.3.3
