body{
	background-color: #EEEEEE;
	font-family: Helvetica, Arial, sans-serif;
}

a{
	text-decoration: none;
	color: red;
}

h1, h2{
	margin: 0;
}

.nav{
	
	float:right;
	margin-top: 0;
}

.nav li{
	list-style:none;
	
}

#container{
		background-color: white;
		width: 800px;
		margin-left: auto;
		margin-right: auto;

}
#header{color: white;
	background-color: #696969;
	color: white;
	text-align: center;
	padding: 10px;
}

#content{
	padding: 10px;
}

#main{
	width: 600px;
	float: left;
}

#footer{
	clear: both;
	padding: 10px;
	background-color: #999999;
	color: white;
	text-align: right;
}